.movieLightBoxContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #111111E6; /* A = 0xE6 => ~ 90% opacity */

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999; 
}

.movieLightBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center center;

  width: 90%;
  max-width: 800px;
  height: auto;

  background-color: #FFFFFF;
  border-radius: 0.2rem;

  z-index: 10000;
}

.posterLightBox {
  grid-column: 1;

  width: 90%;
  height: auto;
  margin: 10px;
}

.informationLightBox {
  grid-column: 2;

  width: 80%;
  height: auto;
  margin: 10px;
}

.lightBoxButton {
  display: inline-block;

  font-size: 0.875rem;
  text-align: center;
  vertical-align: center;
  text-decoration: none;

  min-width: 70px;

  margin: 0 5px;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;

  color: white;
}

.lightBoxDeleteButton {
  margin-left: 0;
  
  background-color: #D61913;
  border: 1px solid #D61913;
}

.lightBoxDeleteButton:hover {
  cursor: pointer;

  background-color: #B0120C;
  border: 1px solid #B0120C;
}