/*
 * A temporary way to stop scrolling when viewing the enlarged content
 */
.fixedView {
  height: 100%;
  overflow: hidden;
}

/* Common Styling */

h1 {
  font-size: 2.5rem;
  text-align: center;

  margin: 0;
}

h2 {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  
  padding-left: 10px;
  padding-right: 10px;
}

p {
  font-size: 1rem;

  margin: 0;
  padding: 0;
}

.test {
  position: fixed;
  top: 80%;
  left: 50%;
  background-color: orange;
}